.colecciones {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

#pantalla {
    -fx-background-image: url("images/fondo.jpg");
}

#pantalla_carrera{
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-size: 25;
    -fx-border-color: blue;
}