/* Agregar al principio de tu styles.css */
#resultado1, #resultado2, #resultado3, #resultado4, #resultado5 {
    -fx-font-family: "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji", "EmojiOne Color", sans-serif;
}

.colecciones {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

#pantalla {
    -fx-background-image: url("images/fondo2.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}


#pantalla_carrera{
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-size: 25;
    -fx-border-color: blue;
}

#btn_salir:hover{
    -fx-scale-y: 1.05;
    -fx-scale-x: 1.05;
}


#btn_iniciar:hover{
    -fx-scale-y: 1.05;
    -fx-scale-x: 1.05;
}